<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    


    <title>Home</title>
</head>
<body>


    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hello!</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>




    <!-- below nav bar -->

    <div class="container text-center">
      <h2 class="my-3">Hello Coder!</h2>
      <img class="rounded-circle my-2" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" alt="" height="150" width="150">
      <h1>Mayank Kumar</h1>
      <hr>
      <h5 class="my-2">Skills</h5>
      <span class="badge text-bg-primary">C++</span>
      <span class="badge text-bg-secondary">Python</span>
      <span class="badge text-bg-success">Java</span>
      <span class="badge text-bg-danger">Django</span>
      <span class="badge text-bg-warning">Angular</span>
    </div>
    <hr>
    <div class="container">
      <h4 class="my-2">
        Assignments
      </h4>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-success">
            <nav class="navbar">
              <div class="container-fluid">
                <a class="navbar-brand text-success" href="#">Question</a>
                <div class="d-flex">
                  45 minutes ago.
                </div>
              </div>
            </nav>
          </li>
          <li class="list-group-item text-danger">
            <nav class="navbar">
              <div class="container-fluid">
                <a class="navbar-brand text-danger" href="#">Question</a>
                <div class="d-flex">
                  18 minutes ago.
                </div>
              </div>
            </nav>
          </li>
          <li class="list-group-item text-success">
            <nav class="navbar">
              <div class="container-fluid">
                <a class="navbar-brand text-success" href="#">Question</a>
                <div class="d-flex">
                  5 minutes ago.
                </div>
              </div>
            </nav>
          </li>
          <li class="list-group-item">
            <nav class="navbar">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"><b>Question</b></a>
                <div class="d-flex">
                  --
                </div>
              </div>
            </nav>
          </li>
          <li class="list-group-item text-success">
            <nav class="navbar">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"><b>Question</b></a>
                <div class="d-flex">
                  --
                </div>
              </div>
            </nav>
          </li>
        </ul>
      </div>
    </div>
    

</body>
</html>